* text=auto eol=lf

public/fonts/material-symbols/material-symbols-outlined.woff2 binary
public/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.ttf binary
public/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf binary